<template>
    <div class='box'  @click="$emit('selectChild', props.color)" :style="cssProps">
    </div>
</template>

<script setup>
import { defineProps, computed } from 'vue';

const props = defineProps({
  color: String,
});
const cssProps = computed(() => {
  return {
    '--color':props.color,
  }
})

</script>

<style scoped>
.box{
    width: 9vw;
    height: 9vw;  
    background-color: gray;
}
.box:hover{
  cursor: pointer;
}
.active{
  background-color: var(--color);
}
.disabled{
  background-color: #212529;
  pointer-events:none;
}
</style>