<template>
    <div class="container text-light">
        <div class="row" v-for="rows in boxContainer" :key="rows">
            <div class="col" v-for="boxes in rows" :key="boxes">
                <BoxComponent @select-child="selectColor" @click="selectElement" class="mt-4" :color="boxes.color" />
            </div>
        </div>
    </div>
</template>

<script setup>
import BoxComponent from './BoxComponent.vue'; 
import { ref } from 'vue';

var colors= ['red','red','blue','blue','green','green','yellow','yellow','pink','pink','chocolate','chocolate','cyan','cyan','darkmagenta','darkmagenta']
var activeBoxesColor=[];
var activeBoxes=[];
var result;
var boxColor;

var boxContainer=ref([]);
for(let i=0; i<=3;i++){
    var boxRow=ref([]);
    for(let j=0; j<=3;j++){
        var colorIndex = Math.floor(Math.random()* colors.length);
        boxRow.value.push({
            color:colors[colorIndex],
        })
        colors.splice(colorIndex, 1);
    }
    boxContainer.value.push(boxRow.value);
}

function selectColor(color){
    boxColor = color;
}

function selectElement(value){
    if(!value.target.classList.contains('active')){
        if(activeBoxes.length>=2){
            activeBoxes.forEach(box => {
                box.classList.remove('active');
            });
            activeBoxes=[];
            activeBoxesColor=[];
        }
        activeBoxes.push(value.target);
        activeBoxesColor.push(boxColor);
        value.target.classList.add("active");
        result = new Set(activeBoxesColor).size !== activeBoxesColor.length;
        if(result){
            activeBoxes.forEach(box => {
                box.classList.remove('active');
                box.classList.add("disabled");
            });
        }
    }
}
</script>

<style scoped>
.container{
    max-width:50vw;
}
</style>